// global styles to be applied everywhere
// ideally should be pretty lean, and mainly just set sensible defaults for html tags
@import "globals/global";
@import "globals/forms";
@import "globals/tables";
@import "globals/typography";
